 
<div>
  <div style="background-color: red"> 
  	<div class="row" style="text-align: center; ">
    <div class="col-sm-2 count-meta" style="color: white">=</div>
    <div class="col-sm-10 count-meta" style="color: white">Search</div>
  </div><br>
  </div>
  <div style="background-color: red"> 
  	<div class="row" style="text-align: center; ">
    <div class="col-sm-6 count-meta" style="color: white">ADD ADDRESS</div>
    <div class="col-sm-6 count-meta" style="color: white">VEHICAL DETAILS</div>
  </div>
  </div>

<div class="twitter-card">
  <div class="row-top">
    <div class="user-wrapper">
       <span class="username">{{bookinglist.txn_id}}</span>       
    </div>
       <span class="username">{{bookinglist.date}}</span>       
  </div>
  <div class="row-bottom"></div>
  <div class="row-top">
    <div class="user-wrapper">
       <span class="user">Patna</span>       
    </div>
       <span class="user">Lucknow</span>       
  </div>
  <div class="row-top">
    <div class="user-wrapper">
       <span class="username">Bihar</span>       
    </div>
       <span class="username">Uttar Pardesh</span>       
  </div>
  <div class="row-bottom">
    <span class="followers-count">
      <span class="count-meta"><img height="160px" width="160px" src="assets/Group 60.svg"></span>
    <span class="count-meta">Home <br>Appliences</span>
    </span>
    <span class="following-count">
      <span class="count-meta"><img height="160px" width="160px" src="assets/Group 90.svg"></span>
    <span class="count-meta">24 ft <br> close body</span>
      
    </span>
    <span class="likes-count">
      <span class="count-meta" ><img height="160px" width="160px" src="assets/Group 91.svg"></span>
    <span class="count-meta">No. of vehicals <br> {{bookinglist.no_of_vehicle}}</span>
    </span>
  </div><br><br><br>
  <div class="row-bottom">
    <span class="username">price: <br>We are updating price shortly</span>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="follow">Follow</span>
        &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;<span class="follow">Follow</span>
  </div><br>
  <div class="row-bottom">
  </div>
  	<div class="row" style="text-align: center;">
    <div class="col-sm-6 count-meta" style="color: blue">ADD ADDRESS</div>
    <div class="col-sm-6 count-meta" style="color: red">VEHICAL DETAILS</div>
  </div>
</div>
<br>
<div class="twitter-card">
  <div class="row-top">
    <div class="user-wrapper">
       <span class="username">{{bookinglist.txn_id}}</span>       
    </div>
       <span class="username">{{bookinglist.date}}</span>       
  </div>
  <div class="row-bottom"></div>
  <div class="row-top">
    <div class="user-wrapper">
       <span class="user">Patna</span>       
    </div>
       <span class="user">Lucknow</span>       
  </div>
  <div class="row-top">
    <div class="user-wrapper">
       <span class="username">Bihar</span>       
    </div>
       <span class="username">Uttar Pardesh</span>       
  </div>
  <div class="row-bottom">
    <span class="followers-count">
      <span class="count-meta"><img height="160px" width="160px" src="assets/Group 60.svg"></span>
    <span class="count-meta">Home <br>Appliences</span>
    </span>
    <span class="following-count">
      <span class="count-meta"> <img height="160px" width="160px" src="assets/Group 90.svg"></span>
    <span class="count-meta">24 ft <br> close body</span>
      
    </span>
    <span class="likes-count">
      <span class="count-meta" ><img height="160px" width="160px" src="assets/Group 91.svg"></span>
    <span class="count-meta">No. of vehicals <br> {{bookinglist.no_of_vehicle}}</span>
    </span>
  </div><br><br><br>
  <div class="row-bottom"></div>
  <div class="row">
    <span class="username col-sm-6">price: <br>3000</span>
    <span class="user col-sm-6" style="color: #44baae">ACCEPTED</span>
  </div>
  <br>
  <div class="row-bottom">
  </div>
  	<div class="row" style="text-align: center;">
    <div class="col-sm-6 count-meta" style="color: blue">ADD ADDRESS</div>
    <div class="col-sm-6 count-meta" style="color: red">VEHICAL DETAILS</div>
  </div>
</div>
<br>
</div>